<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes on Naginata</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css"> 
</head>
<body>
    <nav>
        <h1 data-action="goTop">Naginata</h1>
        <h2>Unsorted notes</h2>
        <ul>
            <li><button data-action="do-something" value="add">Add</button></li>
        </ul>
    </nav>
    <section class="wrapper">

        <!-- testing; eventually add class hidden, aria labels to inputs -->
        <!-- <section class="filterlist">  
            <form data-action-type="filter" action="/find" method="GET">
                <input type="text" placeholder="Search by tag" name="searchBy">
                <button>Find</button>
            </form>
        </section> --> 
        
        <section class="data-updates">
            <form data-action-type="add" class="hidden" action="/addPic" method="POST">
                <h3>Add entry</h3>
                <input type="text" placeholder="Enter passcode" name="passcode">
                <input type="text" placeholder="Enter title" name="title">
                <input type="text" placeholder="Add img url" name="imgURL">
                <input type="text" placeholder="Non-image source url" name="vidURL">
                <input type="text" placeholder="caption" name="caption">
                <input type="text" placeholder="Add ', '-separated tags" name="tags">
                <button type="submit">Submit</button>
            </form>
            <section data-action-type="update" class="hidden wrapper update">
                <h3>Update an entry</h3>
                <p>You can only update one field at a time for the selected entry.</p>
                <span data-type="entry-update"></span>
                <label for="field">Field to update</label>
                <select id="field" name="field">
                    <option value="Choose field" selected>Choose field</option>
                    <option value="Title">Title</option>
                    <option value="Asset URL">Asset URL</option>
                    <option value="Caption">Caption</option>
                    <option value="Tags">Tags</option>
                </select>
                <input type="text" placeholder="New input" name="edit">
                <label class='hidden' data-type="asset-label" for="video">If URL, is it something other than an image?<input type="checkbox" id="video" name="video" value='video'></label>
                <button data-action="update">Update this entry</button>
            </section>
        </section>

        <section class="results">
                <% for (let i=0; i<stuff.length; i++) { %>
                <div>
                    <h3><%= stuff[i].title %></h3>
                    <section class="button-box">
                        <button data-action="do-something" data-detail="update-entry" value="update">Update</button> 
                        <button data-action="delete" value="delete">Delete</button>
                    </section>
                    <img src="<%= stuff[i].imgURL %>" alt="<%=stuff.caption%>"> 

                    <% if (stuff[i].vidURL !== '' && stuff[i].vidURL !== undefined) { %>
                        <a data-type="vid" href="<%= stuff[i].vidURL %>" target=_blank ><span>Source URL</span></a>
                    <% }%>
                    <figcaption><%= stuff[i].caption %></figcaption>
                    <!-- what needs to happen here:
                        Instead of joining to display as a string, 
                        for each tag element in tag,
                        they need to print as clickable li in a formatted list. somehow joined nicely visually
                        on li click, it will take e.target.innerText as the param value and trigger a tag-based query,
                        reloading page to show filtered results. Basically react-tmg-day3 -->
                    <span class="current-tags"><%= stuff[i].tags.join(', ') %></span>
                    
                </div>
                <% }%>
        </section>
        
    </section>
    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>